.vs/
x64/
Debug/
Release/
build/
raylib/build/
raylib/bin/
raylib/lib/
*.user
*.userosscache
*.suo
*.cache
*.log
*.exe
*.dll
*.lib
*.obj
*.o
*.pdb
*.ilk
*.tmp
*.bak
*.old
.DS_Store
Thumbs.db
sprint-10th-grade-pathx/bin/
sprint-10th-grade-pathx/obj/
sprint-10th-grade-pathx/.vs/
.vs/
x64/
**/Debug/
**/Release/
**/bin/
**/obj/
tmp/
*.tlog
*.lastbuildstate
*.log
raylib-5.5_win64_msvc16/
emsdk/
w64devkit/
npp/
**/*.wav
**/*.ttf
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.idb
*.mdb
*.obj
*.o